*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;    
    color: #d6ff94;
    font-family: 'Press Start 2P';
}

header {
    border: solid #D6FF94;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P';
    font-size: 75px;
    margin-bottom: 10px;
    outline: solid red;
    text-shadow: 3px 3px 2px  red;  
}

.row {
    display: flex;
    font-family: 'Press Start 2P';
    align-items: center;
    justify-content: center;
}

.box {
    background-color: rgb(241, 220, 241);
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-family: 'Press Start 2P';
    border: solid red;
    margin: 1px;
    text-shadow: 3px 1px 3px  red; 
    border-radius: 5%;
}

.keys {
    background-color: #7166f2 ;
    border: 2px solid rgb(0, 255, 81);
    border-radius: 12%;
    margin: 1px;
    height: 36px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-family: 'Press Start 2P';
    text-shadow: 3px 1px 2px  red;  
}

.keys:hover{
    margin: 5px;
    color: #D6FF94;
    height: 45px;
    width: 40px;
    background-color: blueviolet;
    border: solid red; 
    cursor: pointer;
}
#win-state-message {
    margin-top: -50px;
    padding-top: 0px ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P';
    font-size: 40px;
    text-shadow: 3px 1px 2px  red;
}

#error-message {
    font-size: 25px;
    text-shadow: 3px 1px 2px  red;
}

#keyboard {
    display: flex;
    align-items: center;
    justify-content: center;
}

#start {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;
    font-size: 15px;
    color: red;
    cursor: pointer;
    font-family: 'Press Start 2P';
    border: solid red; 
}

#start:disabled {
    background-color: lightblue;
    color: aqua;
}

#start:hover:not(:disabled) {
    border: 0.2vmin solid rgb(199, 56, 173);
    box-shadow: 0 0 4px 4px rgb(199, 56, 173);
    background-color: rgba(72, 0, 138, 0.59);
    color: yellowgreen;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
   
}
#button > button {
    border-radius: 5%;
    margin: 5px;
    color: #D6FF94;
    height: 60px;
    width: 100px;
    background-color: rgb(73, 226, 43);
    border: solid red; 
    font-family: 'Press Start 2P';
    text-shadow: 3px 1px 2px  red;
}

#button > button:hover {
    border: 0.2vmin solid rgb(199, 56, 173);
    box-shadow: 0 0 4px 4px rgb(199, 56, 173);
    background-color: rgba(72, 0, 138, 0.59);
    color: yellowgreen; 
    cursor: pointer;
}


